configuration {
  //hover-select: true; 
  //modi: "drun,window,run";
  //display-drun: "";
  //display-run: "";
  //display-window: "󰑣";
  //show-icons: false;
  //fixed-num-lines: false;
  icon-theme: "Papirus-Dark";
  kb-accept-entry: "Return,KP_Enter";
  kb-remove-to-eol: "";
  kb-row-down: "Control-j";
  kb-row-up: "Control-k";
}

@theme "sidebar"
