configuration {
  hover-select: true; 
}

@import "sidebar.rasi"

window {
	transparency: "screenshot";
  	location: north east;
	x-offset: -10;
	y-offset: 40;
	height: none;
	width:10%;

	border: 2;
	// border-color: @background-dim-trans;
	border-radius: 0;
}

inputbar {
	enabled : false;
}


mainbox {
  children: [contentbox];
  padding: 10;
}

